/****** Object:  Table [dbo].[ATC_PolicyProfiler_AnsweredQuestionnaires]    Script Date: 21/05/2013 11:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_AnsweredQuestionnaires](
	[ModuleID] [int] NOT NULL,
	[QuestionnaireID] [nvarchar](50) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Locale] [nvarchar](50) NOT NULL,
	[TargetedCountry] [nvarchar](50) NOT NULL,
	[AnswerID] [int] NOT NULL,
	[AnsweredByUser] [int] NULL,
	[AnonymousGuid] [nvarchar](50) NULL,
	[AnsweredOnDate] [datetime] NULL,
	[Rating] [int] NULL,
	[Platform] [nvarchar](50) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_AnsweredQuestionnaires] PRIMARY KEY CLUSTERED 
(
	[QuestionnaireID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_AnswersOverview]    Script Date: 21/05/2013 11:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_AnswersOverview](
	[Num] [int] IDENTITY(1,1) NOT NULL,
	[DimensionX] [float] NULL,
	[DimensionY] [float] NULL,
	[TargetedCountry] [nvarchar](50) NULL,
	[DateAnswered] [datetime] NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_AnswersOverview] PRIMARY KEY CLUSTERED 
(
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Demographics]    Script Date: 21/05/2013 11:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Demographics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionnaireID] [nvarchar](50) NULL,
	[userID] [nvarchar](120) NULL,
	[AnsweredOn] [datetime] NULL,
	[Question1] [nvarchar](100) NULL,
	[Question2] [nvarchar](100) NULL,
	[Question3] [nvarchar](10) NULL,
	[Question4] [nvarchar](100) NULL,
	[Question5] [nvarchar](100) NULL,
	[Question6] [nvarchar](100) NULL,
	[Question7] [nvarchar](100) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Demographics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_SavedAnswers]    Script Date: 21/05/2013 11:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_SavedAnswers](
	[UserID] [int] NOT NULL,
	[SavedonDate] [datetime] NOT NULL,
	[UserAnswers] [nvarchar](50) NOT NULL,
	[UserRatings] [nvarchar](50) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_SavedAnswers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[SavedonDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ATC_PolicyProfiler_AnsweredQuestionnaires] ADD  CONSTRAINT [DF_ATC_PolicyProfiler_AnsweredQuestionnaires_IsAnonymous]  DEFAULT ((0)) FOR [AnonymousGuid]
GO
ALTER TABLE [dbo].[ATC_PolicyProfiler_AnswersOverview] ADD  CONSTRAINT [DF_ATC_PolicyProfiler_AnswersOverview_DateAnswered]  DEFAULT (getdate()) FOR [DateAnswered]
GO
ALTER TABLE [dbo].[ATC_PolicyProfiler_SavedAnswers] ADD  CONSTRAINT [DF_ATC_PolicyProfiler_SavedAnswers_SavedonDate]  DEFAULT (getdate()) FOR [SavedonDate]
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Answers](
	[ModuleID] [int] NOT NULL,
	[AnswerID] [int] NOT NULL,
	[Locale] [nvarchar](50) NOT NULL,
	[AnswerText] [nvarchar](100) NOT NULL,
	[CreatedByUser] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Answers] PRIMARY KEY CLUSTERED 
(
	[Locale] ASC,
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Categories]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Categories](
	[ModuleID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Locale] [nvarchar](50) NOT NULL,
	[TargetedCountry] [nvarchar](50) NOT NULL,
	[CategoryText] [nvarchar](200) NOT NULL,
	[CreatedByUser] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC,
	[Locale] ASC,
	[TargetedCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Countries]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Countries](
	[Country] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Translation] [nvarchar](50) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Countries] PRIMARY KEY CLUSTERED 
(
	[Country] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Questions]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Questions](
	[ModuleID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Locale] [nvarchar](50) NOT NULL,
	[TargetedCountry] [nvarchar](50) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[QuestionText] [nvarchar](400) NOT NULL,
	[CreatedByUser] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ATC_EuProfiler] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC,
	[Locale] ASC,
	[TargetedCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_StakeholderAnswers]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_StakeholderAnswers](
	[StakeholderID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Dimension1] [int] NULL,
	[Dimension2] [int] NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_StakeholderAnswers] PRIMARY KEY CLUSTERED 
(
	[StakeholderID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Stakeholders]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Stakeholders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Abbr] [nvarchar](10) NULL,
	[Color] [nvarchar](50) NULL,
	[Logo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Stakeholders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATC_PolicyProfiler_Translations]    Script Date: 21/05/2013 11:20:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATC_PolicyProfiler_Translations](
	[Element] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Translation] [nvarchar](350) NULL,
 CONSTRAINT [PK_ATC_PolicyProfiler_Translations] PRIMARY KEY CLUSTERED 
(
	[Element] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ATC_PolicyProfiler_Answers] ([ModuleID], [AnswerID], [Locale], [AnswerText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'Διαφωνώ απόλυτα', 1, CAST(0x00009E8D00000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Answers] ([ModuleID], [AnswerID], [Locale], [AnswerText], [CreatedByUser], [CreatedDate]) VALUES (381, 2, N'el-GR', N'Τείνω να διαφωνώ', 1, CAST(0x00009E8D00000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Answers] ([ModuleID], [AnswerID], [Locale], [AnswerText], [CreatedByUser], [CreatedDate]) VALUES (381, 3, N'el-GR', N'Ουδέτερος/η', 1, CAST(0x00009E8D00000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Categories] ([ModuleID], [CategoryID], [Locale], [TargetedCountry], [CategoryText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'el-GR', N'Γενικές προτάσεις', 1, CAST(0x00009E8D00000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Categories] ([ModuleID], [CategoryID], [Locale], [TargetedCountry], [CategoryText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'en-GB', N'Γενικές προτάσεις', 1, CAST(0x00009E8D00000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Categories] ([ModuleID], [CategoryID], [Locale], [TargetedCountry], [CategoryText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'es-ES', N'Γενικές προτάσεις', 1, CAST(0x00009E8D00000000 AS DateTime))
GO
INSERT [dbo].[ATC_PolicyProfiler_Countries] ([Country], [Language], [Translation]) VALUES (N'Greece', N'el-GR', N'Ελλάδα')
INSERT [dbo].[ATC_PolicyProfiler_Countries] ([Country], [Language], [Translation]) VALUES (N'Greece', N'en-GB', N'Greece')
INSERT [dbo].[ATC_PolicyProfiler_Countries] ([Country], [Language], [Translation]) VALUES (N'Greece', N'es-ES', N'Grecia')
INSERT [dbo].[ATC_PolicyProfiler_Questions] ([ModuleID], [QuestionID], [Locale], [TargetedCountry], [CategoryID], [QuestionText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'el-GR', 1, N'Πρέπει να περιοριστεί η μετανάστευση στην Ελλάδα. nai prepei', 1, CAST(0x00009F1400000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Questions] ([ModuleID], [QuestionID], [Locale], [TargetedCountry], [CategoryID], [QuestionText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'en-GB', 1, N'Πρέπει να περιοριστεί η μετανάστευση στην Ελλάδα.', 1, CAST(0x00009F1400000000 AS DateTime))
INSERT [dbo].[ATC_PolicyProfiler_Questions] ([ModuleID], [QuestionID], [Locale], [TargetedCountry], [CategoryID], [QuestionText], [CreatedByUser], [CreatedDate]) VALUES (381, 1, N'el-GR', N'es-ES', 1, N'Πρέπει να περιοριστεί η μετανάστευση στην Ελλάδα.', 1, CAST(0x00009F1400000000 AS DateTime))
GO
INSERT [dbo].[ATC_PolicyProfiler_StakeholderAnswers] ([StakeholderID], [QuestionID], [Dimension1], [Dimension2]) VALUES (1, 2, 3, 0)
INSERT [dbo].[ATC_PolicyProfiler_StakeholderAnswers] ([StakeholderID], [QuestionID], [Dimension1], [Dimension2]) VALUES (1, 3, 4, 0)
INSERT [dbo].[ATC_PolicyProfiler_StakeholderAnswers] ([StakeholderID], [QuestionID], [Dimension1], [Dimension2]) VALUES (1, 4, 0, 5)
GO
SET IDENTITY_INSERT [dbo].[ATC_PolicyProfiler_Stakeholders] ON 

INSERT [dbo].[ATC_PolicyProfiler_Stakeholders] ([Id], [Name], [Country], [Abbr], [Color], [Logo]) VALUES (1, N'European Trade Union Confederation', N'EU', N'ETUC', N'#E3001B', NULL)
INSERT [dbo].[ATC_PolicyProfiler_Stakeholders] ([Id], [Name], [Country], [Abbr], [Color], [Logo]) VALUES (3, N'Business Europe', N'EU', N'BE', N'#014380', NULL)
INSERT [dbo].[ATC_PolicyProfiler_Stakeholders] ([Id], [Name], [Country], [Abbr], [Color], [Logo]) VALUES (4, N'Migration Policy Institute', N'EU', N'MPI', N'#63438D', NULL)
SET IDENTITY_INSERT [dbo].[ATC_PolicyProfiler_Stakeholders] OFF
INSERT [dbo].[ATC_PolicyProfiler_Translations] ([Element], [Language], [Translation]) VALUES (N'button_back', N'el-GR', N'πίσω')
INSERT [dbo].[ATC_PolicyProfiler_Translations] ([Element], [Language], [Translation]) VALUES (N'button_back_summary', N'el-GR', N'πίσω στην περίληψη')
INSERT [dbo].[ATC_PolicyProfiler_Translations] ([Element], [Language], [Translation]) VALUES (N'button_back_summary', N'en-GB', N'back to summary')
GO
ALTER TABLE [dbo].[ATC_PolicyProfiler_StakeholderAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ATC_PolicyProfiler_StakeholderAnswers_ATC_PolicyProfiler_StakeholderAnswers] FOREIGN KEY([StakeholderID], [QuestionID])
REFERENCES [dbo].[ATC_PolicyProfiler_StakeholderAnswers] ([StakeholderID], [QuestionID])
GO
ALTER TABLE [dbo].[ATC_PolicyProfiler_StakeholderAnswers] CHECK CONSTRAINT [FK_ATC_PolicyProfiler_StakeholderAnswers_ATC_PolicyProfiler_StakeholderAnswers]
GO
